/* ==========================================================================
   Comments responsive styles
   ========================================================================== */

#qodef-page-comments {
	
	@include qodefScreenSize1024 {
		margin-bottom: 30px;
	}
}

#qodef-page-comments-list {
	
	@include qodefScreenSize1024 {
		
		.qodef-comment-item {
			
			.children {
				padding-left: 40px;
			}
		}
	}
	
	@include qodefScreenSize768 {
		
		.qodef-comment-item {
			
			.children {
				padding-left: 20px;
			}
		}
	}
	
	@include qodefScreenSize680 {
		
		.qodef-m-comments {
			padding-left: 0;
		}
		
		.qodef-comment-item {
			
			.qodef-e-inner {
				flex-wrap: wrap;
			}
			
			.qodef-e-content {
				margin-top: 23px;
			}
			
			.qodef-e-title-and-date-holder {
				flex-wrap: wrap;
			}
			
			.qodef-e-title {
				width: 100%;
				margin: 0 0 5px;
			}
			
			.children {
				padding-left: 3%;
			}
		}
	}
}
