/* ==========================================================================
   Sidebar styles
   ========================================================================== */

#qodef-page-sidebar {
	@include qodefRelativeLayout();
	margin-bottom: 17px;
	
	&.qodef--has-strip {
		padding: 33px 0 33px 38px;
		
		&:before {
			@include qodefStripBackground();
		}
		
		@include qodefScreenSize680 {
			padding-left: 20px;
		}
	}
}
