/* ==========================================================================
   WooCommerce single styles
   ========================================================================== */

#qodef-woo-page {

	&.qodef--single {

		@include qodefScreenSize1024 {

			.qodef-woo-single-inner {
				flex-wrap: wrap;
			}

			.entry-summary {
				margin-top: 60px;
			}
		}

		@include qodefScreenSize680 {
			
			.woocommerce-product-gallery {
				
				@for $i from 0 to $grid-columns-layout-size {
					$column: $i + 1;
					
					&.woocommerce-product-gallery--columns-#{$column} {
						
						@if ($column > 3) {
							
							figure {
								
								> .qodef-woo-thumbnails-wrapper {
									
									.woocommerce-product-gallery__image {
										width: 50% !important;
									}
								}
							}
						}
					}
				}
				
				&.qodef-position--left {
					
					.woocommerce-product-gallery__trigger {
						left: 10px;
					}
					
					figure {
						flex-wrap: wrap;
						
						> .woocommerce-product-gallery__image {
							width: 100% !important;
						}
						
						> .qodef-woo-thumbnails-wrapper {
							width: 100% !important;
							display: flex;
							flex-wrap: wrap;
							
							.woocommerce-product-gallery__image {
								
								&:first-child {
									margin-top: #{2 * $woo-product-image-gutter}px !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

