/* ==========================================================================
   WooCommerce cart styles
   ========================================================================== */

#qodef-woo-page {

    &.qodef--cart {

        .shop_table {

            td {

                &.product-remove {
                    width: 30px;

                    a {
                        display: block;
                        font-size: 0;
                        line-height: 1;
    
                        &:after {
                            position: relative;
                            display: block;
                            padding: 0 3px;
                            content: "\e04a";
                            font-family: "linea-arrows-10"!important;
                            font-size: 23px;
                            line-height: inherit;
        
                            body:not([class*="alloggio-core"]) & {
                                content: '×';
                            }
                        }
                    }
                }

                &.product-thumbnail {
                    width: 135px;

                    a, img {
                        display: block;
                        width: 100%;
                    }
                }

                &.product-name {
                    padding-left: 15px;
                    text-align: left;

                    a {
                        @include qodefWooLabelsHeadingStyle(false);
                    }
                    
                    .qodef-reservation-info {
                        margin-top: 8px;
                    }
                }

                &.product-quantity {

                    input[type="number"] {
                        margin: 0;
                    }
                }

                &.actions {
                    padding: 30px 0 0;
                    text-align: initial;

                    .coupon {
                        position: relative;
                        display: flex;
                        align-items: flex-start;
                        flex-wrap: wrap;
                        width: 70%;
                        float: left;

                        > * {
                            margin-bottom: 0;
                        }
                    }

                    label {
                        display: none;
                    }

                    input[type="text"] {
                        width: auto;
                        margin-right: 20px;
                    }

                    > .button {
                        float: right;
                    }
                }
            }

            &.cart {

                tbody {

                    > tr {

                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                }
            }
        }

        .cart-collaterals {

            .shop_table {

                th {
                    width: 20%;
                }
            }
        }

        .cross-sells,
        .cart_totals {
            margin-top: 50px;

            > h2 {
                @include qodefWooTemplatesHeadingStyle(0 0 42px);
            }
        }

        .shipping-calculator-form {

            select {
                @include qodefWooSelect2Style(100%);
            }
        }

        .wc-proceed-to-checkout {
            margin-top: 30px;
        }
    }
}

// This is temporary solution, we already asked support to add additional hooks inside this template in order to modify it and to move this css inside #qodef-woo-page
.woocommerce-page {

    div.woocommerce {

        > .cart-empty {
            @include qodefWooTemplatesHeadingStyle();
            padding-top: 10px;
            align-items: center;
            border: none;
        }

        > .return-to-shop {
            margin: 20px 0 0;
            text-align: center;

            a {
                @include qodefWooButtonsStyle();
            }
        }
    }
}